<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>iAWriterMonoS-Regular.ttf</string>
		<string>iAWriterMonoS-Bold.ttf</string>
		<string>iAWriterMonoS-Italic.ttf</string>
		<string>iAWriterMonoS-BoldItalic.ttf</string>
		<string>iAWriterDuoS-Regular.ttf</string>
		<string>iAWriterDuoS-Bold.ttf</string>
		<string>iAWriterDuoS-Italic.ttf</string>
		<string>iAWriterDuoS-BoldItalic.ttf</string>
		<string>iAWriterQuattroS-Regular.ttf</string>
		<string>iAWriterQuattroS-Bold.ttf</string>
		<string>iAWriterQuattroS-Italic.ttf</string>
		<string>iAWriterQuattroS-BoldItalic.ttf</string>
	</array>
</dict>
</plist>
